<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://uploads-ssl.webflow.com/5ea9a731ca3c740bf6c0ad17/61816a43134138e79d528eea_Angular%20alternative%201600x800.png"
    alt="Angular Image"
    height="200px">
  </div>
  <div class="big-card__title">
    <span>September 20, 2023</span>
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        bla bla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla bla
      </a>
    </p>
  </div>
</div>
