<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="{{ photoCover }}"
    alt=""
    height="200px">
  </div>
  <div class="big-card__title">
    <span>{{ cardDate }}</span>
    <h1><a href="https://www.adrenaline.com.br/games/pc-games/cyberpunk-phantom-liberty-confira-as-notas-da-dlc-pela-imprensa-global/">{{ cardTitle }}</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="https://www.adrenaline.com.br/games/pc-games/cyberpunk-phantom-liberty-confira-as-notas-da-dlc-pela-imprensa-global/">
        {{ cardDescription }}
      </a>
    </p>
  </div>
</div>
