.container__menu-title {
  color: white;
}

.container__menu-title > h1 {
  margin: 15px 30px;
  font-size: 225px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;

}

.container__menu-title > hr {
  margin: 20px 30px;
  border-color: #121212;
}
